@media (max-width: 900px) {
  .main-title {
    margin-top: 15px;
    padding: 15px;
    font-size: 2.3rem;
  }
  .main-description {
    margin-top: 15px;
    padding: 15px;
    font-size: 1.5rem;
  }
  .description-page-quiz,
  .description-page-gallery,
  .description-page-statistic {
    margin-top: 10px;
    padding: 10px;
    font-size: 1.2rem;
  }
}
