.footer {
  position: relative;
  z-index: 10;
  max-width: 1440px;
  height: 10vh;
  background-color: $feldgrau;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.git-hub-logo {
  width: 50px;
  height: 50px;
  margin-left: 20px;
  background-image: url(./assets/icon/github.png);
  background-repeat: no-repeat;
  background-size: contain;
}
.rss-logo {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  background-image: url(./assets/icon/rss.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}
