.main-quiz {
  display: grid;
  grid-template-columns: repeat(7, [col] 1fr);
  grid-template-rows: 10vh 20vh 32vh 7vh;
  grid-gap: 15px;
}

.steps-questions {
  grid-column: span 6;
  display: flex;
  justify-content: space-around;
  background-color: aqua;
}

.steps-questions__element {
  align-self: center;
  @include roboto-regular;
  font-size: 2rem;
  color: $jet;
}

.score-game {
  background-color: burlywood;
}

.block-about-move {
  grid-column: 4 / 8;
  background-color: chocolate;
}

.block-answers {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-column: 1 / 4;
  grid-row: 3 /4;
  background-color: brown;
}
.block-answers__answer {
  height: 3rem;
  background-color: hotpink;
}
.block-audio-player {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 1fr;
  grid-column: 1 / 8;
  grid-row: 2/ 3;
  background-color: darkmagenta;
}

.block-audio-player__image {
  grid-row: 1 / 3;
  background-color: darkred;
}
.block-audio-player__title {
  background-color: darkcyan;
}
.block-audio-player__audio-player {
  background-color: chartreuse;
}
.button-next-question {
  grid-column: span 7;
  background-color: crimson;
}
